@use '@/scss/placeholders';
@use '@/scss/variables';

.task {
  @extend %task;

  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  input {
    height: 1rem;
    margin-right: 1rem;
    vertical-align: middle;

    &:focus {
      @extend %focus;
    }
  }

  .task-edit {
    border: none;
    cursor: text;
    width: 100%;
  }

  .label {
    display: inline;
    vertical-align: middle;
  }

  .label.completed {
    color: variables.$color-dimmed;
    text-decoration: line-through;
  }
}
