@use '@/scss/variables';

.tasks-page {
  background-color: variables.$color-light;
  border-radius: variables.$border-container;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-width: 500px;
  padding: 3rem 6rem;

  .tasks-header {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 0 0.5rem 0;

    h1 {
      margin: 0;
    }
  }
}
