@use '@/scss/variables';

body {
  font: 16px/1 sans-serif;
}

.page {
  align-items: center;
  background-color: variables.$color-background;
  display: flex;
  flex-direction: column;
  padding: 3rem;
}
